.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #d3d3d3;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
}

.company-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
}

.company-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.tagline {
  font-size: 0.9rem;
  color: #FFA500; 
  margin: 0;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}


.goog-logo-link,
.goog-te-gadget span,
.goog-te-banner-frame {
  display: none !important;
}

#google_translate_element {
  margin: 0;
  padding: 0;
  height: auto;
}


.goog-te-gadget {
  font-size: 14px;
  color: #333;
  font-family: inherit;
}

.goog-te-combo {
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  background-color: white;
  color: black;
  font-family: inherit;
  cursor: pointer;
}


.call-icon {
  padding-bottom:10px;
  font-size: 20px;
  text-decoration: none;
}
