.temple-card {
  display: flex;
  margin: 20px 0;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  
}

.temple-image {
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.temple-info {
  flex: 1;
}
.temple-info h3{
  font-size:35px;
  font-weight:600;
}
.temple-info p{
  font-size:20px;
  
}
.temple-brief p{
  margin-bottom: 8px;
  line-height: 1.5;
  color: #ecd4d4;
}

.book-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 7px;
}

@media (max-width: 768px) {
  .temple-card {
    flex-direction: column;
    text-align: center;
  }

  .temple-image {
    width: 100%;
  }
}
